@{
    ViewData["Title"] = "Apagar Usuario";
}

<div class="text-center">
    <h3>Realmente deseja apagar o usuario (xxxx)?</h3>
</div>


<a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger"role="button" asp-controller="Usuario" asp-action="Apagar">Confirmar exclusão</a>